<style>
  table {
    border-spacing: 10px;
  }

  td {
    padding: 10px;
  }
</style>

<div class="container mt-5">
  <div class="row">
    <div class="col-3 mx-auto">
      <table>
        <tr>
          <td><%= image_tag @post.member.get_profile_image(100,100), class: "circle-image" %></td>
          <td colspan="2" style="font-size: 40px; font-weight:bold"><%= @post.member.display_name %></td>
        </tr>
        <tr>
          <td colspan="3" style="font-size: 25px;"><%= @post.body %></td>
        </tr>
        <tr>
          <td id="favorite_buttons_<%= @post.id %>">
            <%= render "public/favorites/favorite", post: @post %>
          </td>
        </tr>
        <tr>
          <td><%= link_to "投稿一覧", group_posts_path(@group_id), class: "btn btn-sm btn-primary btn-success" %></td>
          <% if @post.member == current_member %>
            <td><%= link_to "編集", edit_group_post_path(@post), class: "btn btn-sm btn-primary btn-success" %></td>
            <td><%= link_to "削除", group_post_path(@post),class: "btn btn-sm btn-primary btn-danger" , method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
          <% end %>
        </tr>
      </table>
    </div>
    <div class="col-7 offset-1 mx-auto">
      <table>
        <tr>
          <td id="comment_counter" style="font-size: 25px; font-weight:bold">
            <%= render "public/post_comments/counter", post: @post %>
          </td>
        </tr>
        <tr>
          <td id="comment_index">
            <%= render "public/post_comments/index", post: @post %>
          </td>
        </tr>
        <tr>
          <td id="comment_form">
            <%= render "public/post_comments/form", post: @post, post_comment: @post_comment %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
