<div class="search-form mt-3" style="font-size: 15px">
  <%= form_with url: search_path, local: true, method: :get do |f| %>
    <%= f.text_field :word %>
    <!--体育館しか検索できない-->
    <%= f.hidden_field :range, value: "Group" %>
    <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
    <%= f.submit "検索", class: "btn btn-sm btn-secondary" %>
  <% end %>
</div>