<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <%= render 'public/searches/search_region' %>
    </div>
    <div class="col-7 offset-2">
      <h3 style="font-weight:bold">検索結果</h3>
      <% if @range == "Group" %>
        <div class="row" style="background-color: #ffcc00;">
          <% @groups.each do |group| %>
            <%= link_to group_path(group.id) do %>
              <div class="col-4">
                <%= image_tag group.get_group_image(100,100) %>
              </div>
              <div class="col-8">
                <div style="font-size: 25px; font-weight:bold"><%= group.name %></div>
                <h4>メンバー数：<%= group.members.count %></h4>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>