
<div class="container mt-5">
  <div class="row">
    <h2 style="font-weight:bold">登録情報</h2>
  </div>
  <div class="row">
    <%= image_tag @member.get_profile_image(100,100), class: "circle-image" %>
  </div>
  <div class="row">
    <table class="table">
      <tr>
        <th>氏名</th>
        <td><%= @member.last_name %> <%= @member.first_name%></td>
      </tr>
      <tr>
        <th>表示名</th>
        <td><%= @member.display_name %></td>
      <tr>
        <th>メールアドレス</th>
        <td><%= @member.email %></td>
      </tr>
    </table>
  </div>

  <!--emailがguest@example.com出ない時はボタンを表示する-->
  <% unless @member.guest_member? %>
    <div class="row">
      <div class="col-2 offset-5">
        <%= link_to "編集する", edit_information_path, class: "btn btn-success btn-lg" %>
      </div>
    </div>
  <% end %>

  <div class="row mt-5">
    <p><%=link_to"お気に入り投稿",favorites_member_path(@member), class: "btn btn-warning" %></p>
  </div>

  <div class="row mt-5">
    <h2>加入グループ・マイポスト</h2>
  </div>
  <% @member.groups.each do |group| %>
    <table bgcolor="#deb887" cellpadding="15">
      <tr>
        <td><%= image_tag group.get_group_image(100, 100), class: "square-image" %></td>
        <td style="font-size: 25px; font-weight:bold">
          <%= link_to group_path(group.id) do %>
            <%= group.name %>
          <% end %>
        </td>
      </tr>
    </table>
    <% group.posts.where(member_id: @member.id).each do |post| %>
      <table bgcolor="#f5deb3" cellpadding="15" class="ml-5 mt-3">
        <tr valign="middle">
          <td><%= image_tag post.member.get_profile_image(100, 100), class: "circle-image" %></td>
          <td>
            <%= link_to group_post_path(post.group, post) do %>
                <%= post.member.display_name %>
            <% end %>
          </td>
          <td id="favorite_buttons_<%= post.id %>">
            <%= render "public/favorites/favorite", post: post %>
          </td>
          <td id="comment_counter">
            <%= render "public/post_comments/counter", post: post %>
          </td>
          <% if post.member == current_member %>
            <td><%= link_to "編集", edit_group_post_path(post.group,post), class: "btn btn-sm btn-primary btn-success" %></td>
            <td><%= link_to "削除", group_post_path(post.group,post),class: "btn btn-sm btn-primary btn-danger" , method: :delete, "data-confirm" => "本当に削除しますか？", data: 'first-delete' %></td>
          <% end %>
        </tr>
        <tr>
          <td></td>
          <td colspan="5">
            <%= link_to group_post_path(post.group, post) do %>
                <%= post.body %>
            <% end %>
          </td>
        </tr>
      </table>
    <% end %>
  <% end %>
</div>
