<div class="container mt-5">
  <div class="row justify-content-center">
    <h2 class="text-center mb-3" style="font-weight:bold">新規会員登録</h2>
  </div>
  <div class="row justify-content-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
      <table>
        <tr>
          <td>名前</td>
          <td class="p-1" width="10"><%= f.label :last_name, "(姓)" %></td>
          <td>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
          </td>
          <td><%= f.label :first_name, "(名)" %></td>
          <td>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
          </td>
        </tr>
        <tr>
          <td class="pt-3"><%= f.label :display_name, "表示名" %></td>
          <td width="10"></td>
          <td>
            <%= f.text_field :display_name, autofocus: true, autocomplete: "display_name" %>
          </td>
        </tr>
        <tr>
          <td class="pt-3"><%= f.label :email, "メールアドレス" %></td>
          <td width="10"></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>

        <tr>
          <td class="pt-3 pr-3"><%= f.label :password, "パスワード" %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %>
          </td>
          <td width="10"></td>
          <td><%= f.password_field :password, autocomplete: "new-password" %></td>
        </tr>

        <tr>
          <td><%= f.label :password_confirmation, "パスワード（確認用）" %></td>
          <td width="10"></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        </tr>

        <tr>
          <td></td>
          <td width="10"></td>
          <td class="pt-3"><%= f.submit "新規登録", class: 'btn btn-success btn-lg', style: "wigth: 80%" %></td>
        </tr>
      </table>
    <% end %>
  </div>
  <div class="row justify-content-center mt-4" style="font-weight:bold;">
    既に登録済みの方は
  </div>
  <div class="row justify-content-center mt-2">
    <%= render "public/shared/links" %>からログインしてください。
  </div>
</div>
